main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  height: 100%;
}

nav a {
  float: center;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

nav a:hover {
  background-color: yellow;
  color: red;
  font-style: italic;
}

nav a.active {
  background-color: red;
  color: yellow;
  font-weight: bold;
}

footer {
  display: grid;
  justify-content: center;
  font-style: italic;
  text-align: center;
  font-size: 10px;
}
