<footer>
    <a href="/licença">Alguns direitos reservados.</a>
    <div>
        <p>
            <a href="https://www.instagram.com/{{site.instagram_username}}/">instagram</a> |
            <a href="https://x.com/{{site.twitter_username}}">twitter</a> |
            <a href="https://github.com/{{site.github_username}}">github</a> |
            <a href="https://github.com/Setembruu/setembru-site">código-fonte</a> |
            <a href="mailto:{{site.email}}">{{site.email}}</a>
        </p>
    </div>
</footer>
