@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: normal;
  src: url('../FiraCode/FiraCode-Regular.woff2')format('woff2')
}
@font-face {
  font-family: 'Fira Code';
  font-style: bold;
  font-weight: bold;
  src: url('../FiraCode/FiraCode-Bold.woff2')format('woff2')
}

body {
  font-family: "Fira Code", Arial;
}

nav a {
  float: center;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

nav a:hover {
  background-color: yellow;
  color: red;
  font-style: italic;
}

nav a.active {
  background-color: red;
  color: yellow;
  font-weight: bold;
}

footer {
  display: grid;
  justify-content: center;
  font-style: italic;
  text-align: center;
  font-size: 10px;
}

h1 {
  display: grid;
  justify-content: center;
  font-style: bold;
  text-align: center;
}
